<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>wsrpc example</title>

    <link href="/assets/style.css" rel="stylesheet" type="text/css" />

    <script src="/assets/jquery-2.2.0.min.js"></script>
</head>
<body>

    <p>Hello, from the  {{.Animals}}!</p>

    <script src="/assets/script/script.js"></script>
</body>
</html>
